<section class="hero">
  <div class="hero-content">
    <h1>Hi, I'm <span class="highlight">Pavan Kumar</span></h1>
    <h2>I’m a <span class="typed-text" id="typed"></span></h2>
    <p>I'm an Order-to-Cash (O2C) Cash Application professional specializing in payment posting, invoice matching, and accounts receivable operations in SAP. With hands-on experience in processing high-volume customer payments, lockbox transactions, and remittance validation, 
      I focus on maintaining accuracy in financial records and resolving unapplied payments. I work closely with collections teams and internal stakeholders to ensure timely reconciliation and smooth cash flow operations.</p>

    <div class="cta-buttons">
      <a routerLink="/projects" class="btn">View O2C Workflows</a>
      <a routerLink="/contact" class="btn secondary">Hire Me</a><br><br><br>
    </div>
    <div class="social-buttons">
      <a href="https://www.linkedin.com/in/pavan-gaam" target="_blank" class="btn primary">LinkedIn</a>
    </div>

  </div>

  <div class="hero-image">
    <img src="assets/images/cartoon.jpeg" alt="Pavan's photo" />
  </div>
</section>

