<section class="hero">
  <div class="hero-content">
    <h1>Hi, I'm <span class="highlight">Pavan Kumar</span></h1>
    <h2>I’m a <span class="typed-text" id="typed"></span></h2>
    <p>I'm an O2C Business Operations Analyst with expertise in accounts receivable, payment analysis, and financial data validation in SAP. I handle high-volume payments, lockbox transactions, 
      and remittance analysis while ensuring accuracy and resolving discrepancies. I collaborate with collections and internal teams to support reconciliation and improve overall O2C process efficiency.
    <div class="cta-buttons">
      <a routerLink="/projects" class="btn">Projects</a>
      <a routerLink="/contact" class="btn secondary">Hire Me</a><br><br><br>
    </div>
    <div class="social-buttons">
      <a href="https://www.linkedin.com/in/pavan-gaam" target="_blank" class="btn primary">LinkedIn</a>
    </div>

  </div>

  <div class="hero-image">
    <img src="assets/images/cartoon.jpeg" alt="Pavan's photo" />
  </div>
</section>

